/*------------------------------
    Testimonial Item
-----------------------------*/

.single-testimonial-item {
    .thumb {
        &.bg-image {
            margin-left: 35px;
            margin-bottom: -40px;
            position: relative;
            z-index: 0;
            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: var(--main-color-one);
                z-index: -1;
            }
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
    }
    .content {
        background-color: $white;
        padding: 70px 35px 60px;
        .content-wrapper {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 170px;
                height: 2px;
                opacity: 0.5;
                background-color: var(--main-color-two);
            }
            .icon {
                position: absolute;
                bottom: -25px;
                right: 50px;
                font-size: 45px;
                line-height: 55px;
                color: var(--main-color-two);
            }
            .description {
                font-size: 18px;
                line-height: 35px;
                font-style: italic;
                max-width: 365px;
                font-weight: 400;
                padding-bottom: 35px;
            }
        }
    }
    .author-details {
        display: flex;
        align-self: flex-start;
        .author-meta {
            flex: 1;
            margin-top: 15px;
            .title {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 0;
            }
            .designation {
                font-size: 14px;
                color: var(--secondary-color);
            }
        }
    }
}

.single-testimonial-item-02 {
    position: relative;
    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 85px;
        width: 85px;
        border-radius: 50%;
        text-align: center;
        font-size: 45px;
        line-height: 85px;
        background-color: $white;
        color: var(--main-color-one);
    }
    .content {
        background-color: var(--main-color-one);
        padding: 40px 55px 45px 90px;
        margin-left: 43px;
        border-radius: 5px;
        .description {
            font-size: 18px;
            line-height: 35px;
            font-weight: 500;
            color: $white;
        }
        .author-details {
            display: flex;
            align-self: flex-start;
            .author-meta {
                flex: 1;
                .title {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 0;
                    color: $white;
                }
                .designation {
                    font-size: 14px;
                    color: $white;
                }
            }
        }
    }
}