/*-------------------------
    Footer Area
-------------------------*/

.footer-top {
    &.bg-image {
        background-size: cover;
        background-repeat: no-repeat;
    }
    background-color: #18252f;
    border-bottom: 1px solid rgba(114, 108, 148, .2);
    &.style-01 {
        border-bottom: 1px solid rgba(114, 108, 148, .2);
        background-color: #eaeaef;
        .widget {
            .widget-title {
                color: var(--main-color-one);
            }
        }
    }
}

.copyright-area {
    background-color: #131c23;
    &.style-01 {
        background-color: #d7e2e8;
    }
}